.form {
    background-color: bisque;
    padding: 50px 30px;
    display:flex;
    flex-direction: column;   /*inputların yan yana gelmesi*/
    justify-content: center;
    align-items: center;
    width: 300px;
} 