
.App {
  /* background-image:"./img/iris-appBackground.png"; */
  background-image: url(./img/iris-appBackground.png);;
  display: flex;
  background-color:white;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  /* height: calc(100vh - 50px); */
}

