.App {
  display: flex;
  background-color:rgb(173, 200, 223) ;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
  height: calc(100vh - 50px);
}

